* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-family: Helvetica Neue, Arial, sans-serif;
    margin-top: 50px;
    text-align: center;
}

.container {
    width: 100%;
    padding-bottom: 30px;
    overflow: hidden;
    background-color: lightgreen;
}

.galleryItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
}

.galleryItem h3 {
    text-transform: capitalize;
}

.galleryItem img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.galleryItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;

    width: 35%;
    margin:  2% 2% 50px 9%;
}

.galleryItem + p,h3,p {
    background: #fff;
    width: 460px;
    border-radius: 5px;
}

.container footer {
    width: 150px;
    border: 2px solid black;
    color: black;
    padding: 6px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    clear: both;
    margin: 0 auto;
}

.container footer p {
    background: transparent;
}

.container footer:hover {
    background-color: black;
    color: #fff;
}

.clients {
    padding: 30px 0 50px;
    background-color: lightgrey;
    width: 100%;
}

.clients h3 {
    padding: 40px;
    text-align: center;
    background: transparent;
    font-size: 30px;
    font-family: Helvetica Neue, Arial, sans-serif;
}

.clients-logos {
    text-align: center;
    margin-top: 30px;
}

.clients-logos img {
    padding: 0 15px 15px 0;
}

.center {
    text-align: center;
    padding-top: 100px;
}

.container-tweet {
    background-color: deepskyblue;
    height: 300px;
}

.tweet a {
    margin-top: 30px;
    display: block;
    float: left;
}

.small{
    margin-top: 30px;
    margin-left: 50px;
    height: 50px;
}
.clear {
    clear: both;
    height: 50px;
}

.contact {
    height: 400px;
    background-color: grey;
    opacity: 0.5;
}

.address {
    color: darkgreen;
    float: left;
}

.address-1 {
    color: darkgreen;
    float: right;
}

.partners {
    padding-top: 90px;
    text-align: center;
    height: 200px;
    background-color: greenyellow;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
    .galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
    .galleryItem {width: 29.33333%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .galleryItem {width: 46%;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .galleryItem {width: 96%;}
    .galleryItem img {width: 96%;}
    .galleryItem h3 {font-size: 18px;}
    .galleryItem p {font-size: 18px;}
}